<form id="registration_form">
	<div class="row">
		<div class="col-md-6 form-group">
			<div class="col-md-12 form-group" ng-class="$parent.resultClass">{{$parent.status}}	</div>
		</div>
		<div class="col-md-6 form-group">
		    <a href="/logout" >Logout</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 form-group">
		    <input type="text" class="form-control" data-ng-model="$parent.first_name" placeholder="First Name" />
		</div>
		<div class="col-md-6 form-group">
		    <input type="text" class="form-control" data-ng-model="$parent.last_name" placeholder="Last Name" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 form-group">
		    <input type="text" class="form-control" data-ng-model="$parent.email_id" placeholder="Email id" />
		</div>
	</div>
   <button type="button" class="btn btn-default" data-ng-click="registration()">Register</button>
</form>
